<section class="mt-5">
    <form [formGroup]="newTaskForm" (ngSubmit)="onSubmit()">
        <div class="input-container">
            <label>
                اسم المهمة
            </label>
            <input formControlName="task_name" type="text" class="form-control">
            <app-form-errors [control]="newTaskForm.controls['task_name']"></app-form-errors>
        </div>

        <div class="d-flex align-items-end">
            <div class="input-container me-2">
                <label>
                    يسند الى
                </label>
                <select formControlName="assignToType" class="form-select">
                    <option value="" disabled selected hidden></option>
                    <option *ngIf="employees.length > 0" value="user">شخص</option>
                    <option value="department">قسم</option>
                </select>
                <app-form-errors [control]="newTaskForm.controls['assignToType']"></app-form-errors>
            </div>
            <div class="input-container">
                <select *ngIf="newTaskForm.controls.assignToType.value == 'department'" formControlName="task_assigned_department" class="form-select">
                    <option value="" selected hidden disabled>اختر القسم</option>
                    <option value="1">الشؤوون الادارية القانونية</option>
                    <option value="2">المراجعة الداخلية</option>
                    <option value="3">IT</option>
                    <option value="4">الموارد لبشرية</option>
                    <option value="5">الأمن و السلامة</option>
                    <option value="6">ادارة المستودعات</option>
                    <option value="7">ادارة الأمن السيبراني</option>
                </select>
                <select *ngIf="newTaskForm.controls.assignToType.value == 'user'" formControlName="task_assigned_user_id" class="form-select">
                    <option value="" selected hidden disabled>اختر الشخص</option>
                    <option *ngFor="let user of employees" [value]="user?.user_id">
                        {{user?.user_first_name}}
                    </option>
                </select>
            </div>
        </div>

        <div *ngIf="internalAuditors.length > 0" class="input-container">
            <label>
                المدقق الداخلي
            </label>
            <select  formControlName="task_internal_auditor_id" class="form-select">
                <option value="" selected hidden disabled>اختر مدقق</option>
                <option *ngFor="let auditor of internalAuditors" [value]="auditor?.internal_auditor_id">
                    {{auditor?.user_first_name}}
                </option>
            </select>
            <app-form-errors [control]="newTaskForm.controls['task_internal_auditor_id']"></app-form-errors>
        </div>
        <div *ngIf="externalAuditors.length > 0"  class="input-container">
            <label>
                المدقق الخارجي
            </label>
            <select formControlName="task_external_auditor_id" class="form-select">
                <option value="" selected hidden disabled>اختر مدقق</option>
                <option *ngFor="let auditor of externalAuditors" [value]="auditor?.external_auditor_id">
                    {{auditor?.user_first_name}}
                </option>
            </select>
            <app-form-errors [control]="newTaskForm.controls['task_external_auditor_id']"></app-form-errors>
        </div>

        <div class="input-container">
            <label>
                ملاحظات
            </label>
            <textarea class="form-control" formControlName="task_manager_notes"></textarea>
            <app-form-errors [control]="newTaskForm.controls['task_manager_notes']"></app-form-errors>
        </div>
        <div class="d-flex">
            <div class="input-container me-2 text-start">
                <label>
                    تاريخ بدء المهمة
                </label>
                <input type="date" [min]="today" class="form-control" formControlName="task_expected_start_date">
                <app-form-errors [control]="newTaskForm.controls['task_expected_start_date']"></app-form-errors>
            </div>
            <div class="input-container text-start">
                <label>
                    تاريخ انتهاء المهمة
                </label>
                <input type="date" [min]="newTaskForm.controls['task_expected_start_date'].value || today" class="form-control" formControlName="task_expected_end_date">
                <app-form-errors [control]="newTaskForm.controls['task_expected_end_date']"></app-form-errors>
            </div>
        </div>
        <div class="input-container text-start">
            <label>
                تاريخ تدقيق المهمة
            </label>
            <input type="date" [min]="today" class="form-control" formControlName="task_expected_audit_date">
            <app-form-errors [control]="newTaskForm.controls['task_expected_audit_date']"></app-form-errors>
        </div>

        <div class="submit-container">
            <button type="submit" class="btn btn-primary">
                إرسال
                <i *ngIf="submitLoading" class="fa-spin fas fa-spinner mx-2"></i>
            </button>
        </div>
    </form>
</section>