<h1 class="my-4 text-center">الابلاغات</h1>

<div *ngIf="loading" class="text-center">
    <h1 class="loader text-center my-3">
        <i class="fas fa-spinner fa-spin"></i>
    </h1>
</div>

<section *ngIf="!loading" class="px-5 py-4 controls-table">
    <div *ngIf="userRole == 'employee'" class="my-4 text-start">
        <a [routerLink]="['/new-issue']" class="btn btn-primary">
            ابلاغ جديد
        </a>
    </div>
    <ngx-datatable #table class="bootstrap ngx-datatable material"
        [rows]="rows" [rowHeight]="80" [columnMode]="'force'" [scrollbarH]="true"
        [footerHeight]="50"
        [externalPaging]="true"
        [count]="count"
        [offset]="page"
        [limit]="10"
        (page)="setPage($event)">
        <ngx-datatable-column name="الاسم"  [minWidth]="130" prop="issue_name"></ngx-datatable-column>
        <ngx-datatable-column name="تاريخ الابلاغ" [minWidth]="130" prop="issue_creation_date">
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{value | date:'longDate':'':'ar'}}
            </ng-template>
        </ngx-datatable-column>
        <!-- <ngx-datatable-column name="الشخص المسند اليه "  [minWidth]="130" prop="issue_sent_to_id"></ngx-datatable-column>
        <ngx-datatable-column name="المبلغ"  [minWidth]="130" prop="issue_created_by_user_id"></ngx-datatable-column> -->
        <ngx-datatable-column name="الملاحظات" prop="issue_notes" [minWidth]="130"></ngx-datatable-column>
        <ngx-datatable-column name="المرفقات" prop="issue_attachment" [minWidth]="130"></ngx-datatable-column>
    </ngx-datatable>
</section>
