<div class="error-text" *ngIf=" control && control.touched && control.errors">
    <div  *ngIf="control.errors.required">*مطلوب</div>
    <div  *ngIf="control.errors.email">
        *بريد إلكتروني غير صالح
    </div>

    <div  *ngIf="control.errors.minDate">
        *تاريخ غير مقبول
    </div>
    <div  *ngIf="control.errors.minlength">
        *  أقل عدد للرموز هو  {{control.errors.minlength.requiredLength}}
    </div>
    <div *ngIf="control.errors.unmatchedPasswords">
        *كلمات السر غير متطابقة
    </div> 
    <div *ngIf="control.errors.fileExt">
* الملفات المدعومة هي الصور و .pdf و .docx و .xlsx
    </div> 
    <div *ngIf="control.errors.fileSize">
        * حجم الملف أكبر من 1MB
    </div> 
    <div *ngIf="control.errors.pattern?.requiredPattern == numericalRegex">
        * أرقام فقط
    </div>

    <div *ngIf="control.errors.pattern?.requiredPattern == passwordRegex">
 *كلمة السر يجب ان تحتوي على حروف لاتينية صغيرة و كبيرة و أرقام و رموز مميزة
    </div>
</div>