<h1 class="mt-4 text-center">المكونات أساسية</h1>
<section class="domains">
    <h1 *ngIf="loading" class="loader">
        <i class="fas fa-spinner fa-spin"></i>
    </h1>
    <ng-container *ngFor="let domain of domains">
        <div [routerLink]="['./', domain?.domain_id, domain?.ar_domain_name]"  class="domain">
            {{domain?.ar_domain_name}}
        </div>
    </ng-container>
    <div *ngIf="!errorApi && !loading" class="page-container">
        <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="total" (pageChange)="pageChange($event)"></ngb-pagination>
    </div>
    <h4 *ngIf="(errorApi && !loading) || (!loading && domains?.length == 0)" class="text-warning">
        <i class="fas fa-exclamation-circle mx-2"></i>
        لا يوجد مكونات أساسية
    </h4>
</section>