<div class="evidences">
    <h1 class="my-4 text-center">الدلائل</h1>
    <div *ngIf="evidencesLoading" class="text-center my-4">
        <h1 class="loader text-center my-3">
            <i class="fas fa-spinner fa-spin"></i>
        </h1>
    </div>
    <section *ngIf="!evidencesLoading" class="px-5 py-4 controls-table">
        <!-- <input type="text" class="form-control" placeholder="البحث" (keyup)="updateFilter($event)" /> -->
        <ngx-datatable #table class="bootstrap ngx-datatable material fullscreen" [rows]="evidences" [rowHeight]="80"
            [columnMode]="'force'" [scrollbarH]="true" [messages]="{emptyMessage: 'لا يوجد بيانات'}" [footerHeight]="50"
            [externalPaging]="true" [count]="evidencesCount" [offset]="evidencesPage" [limit]="10"
            (page)="setEvidencesPage($event)">

            <ngx-datatable-column name="قائمة الأدلة" [minWidth]="300" prop="evid_description">
            </ngx-datatable-column>
            <ngx-datatable-column name="رقم الفرعي للضابط" [minWidth]="130" [maxWidth]="200" prop="sub_domain_code">
            </ngx-datatable-column>
            <ngx-datatable-column name="تاريخ إرسال الطلب للجهة" [canAutoResize]="true" prop="evid_creation_date">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value | date:'longDate':'':'ar'}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="تاريخ استلام تأكيد الجهة على تجهيز الأدلة" [canAutoResize]="true"
                prop="evid_confirmation_date">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value | date:'longDate':'':'ar'}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="حالة الدليل" [minWidth]="130" prop="evid_status">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <span title="انقر للتعديل"
                        (click)="userService.userRole == 'manager' && evidStatusEditing[rowIndex + '-evid_status'] = true"
                        *ngIf="!evidStatusEditing[rowIndex + '-evid_status']">
                        {{ value }}
                    </span>
                    <select autofocus class="form-select" *ngIf="evidStatusEditing[rowIndex + '-evid_status']"
                        (blur)="updateEvidStatus($event, 'evid_status', rowIndex, row['evid_id'])">
                        <option selected disabled hidden>يرجى تحديد الحالة؟</option>
                        <option value="تم الإنتهاء من تجهيز المتطلب">
                            تم الإنتهاء من تجهيز المتطلب
                        </option>
                        <option value="غير متوفر لدى الجهة">
                            غير متوفر لدى الجهة
                        </option>
                        <option value=" لا ينطبق على الجهة"> لا ينطبق على الجهة</option>
                        <option value="جاري العمل على تجهيز المتطلب"> جاري العمل على تجهيز المتطلب</option>
                    </select>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name=" الشخص المعني" [minWidth]="130" prop="evid_send_to">
            </ngx-datatable-column>
            <ngx-datatable-column name="البريد الإلكتروني" [minWidth]="130" prop="evid_email">
            </ngx-datatable-column>
            <ngx-datatable-column name="الهاتف" [minWidth]="130" prop="evid_phone_no">
            </ngx-datatable-column>
            <ngx-datatable-column name="الملاحظات" [minWidth]="130" prop="evid_notes">
            </ngx-datatable-column>
        </ngx-datatable>
    </section>
</div>
<div class="prerequisites">
    <h1 class="my-4 text-center">المتطلبات</h1>
    <div *ngIf="prerequisitesLoading" class="text-center my-4">
        <h1 class="loader text-center my-3">
            <i class="fas fa-spinner fa-spin"></i>
        </h1>
    </div>
    <section *ngIf="!prerequisitesLoading" class="px-5 py-4 controls-table">
        <!-- <input type="text" class="form-control" placeholder="البحث" (keyup)="updateFilter($event)" /> -->
        <ngx-datatable #table class="bootstrap ngx-datatable material fullscreen" [rows]="prerequisites"
            [rowHeight]="80" [columnMode]="'force'" [scrollbarH]="true" [messages]="{emptyMessage: 'لا يوجد بيانات'}"
            [footerHeight]="50" [externalPaging]="true" [count]="prerequisitesCount" [offset]="prerequisitesPage"
            [limit]="10" (page)="setPrerequisitesPagePage($event)">

            <ngx-datatable-column name="قائمة المتطلبات" [minWidth]="300" [canAutoResize]="true"
                prop="prerequisite_description">
            </ngx-datatable-column>
            <ngx-datatable-column name="رقم المكون الفرعي" [minWidth]="130" prop="sub_domain_code">
            </ngx-datatable-column>
            <ngx-datatable-column name=" تاريخ إرسال الطلب" prop="prerequisite_creation_date">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value | date:'longDate':'':'ar'}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name=" تاريخ تأكيد الطلب" prop="prerequisite_confirmation_date">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value | date:'longDate':'':'ar'}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="حالة الطلب" [minWidth]="130" prop="prerequisite_status">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <span title="انقر للتعديل"
                        (click)="userService.userRole == 'manager' && preReqStatusEditing[rowIndex + '-prerequisite_status'] = true"
                        *ngIf="!preReqStatusEditing[rowIndex + '-prerequisite_status']">
                        {{ value }}
                    </span>
                    <select autofocus class="form-select" *ngIf="preReqStatusEditing[rowIndex + '-prerequisite_status']"
                        (blur)="updatePrereqStatus($event, 'prerequisite_status', rowIndex, row['prerequisite_id'])">
                        <option selected disabled hidden>يرجى تحديد الحالة؟</option>
                        <option value="تم الإنتهاء من تجهيز المتطلب">
                            تم الإنتهاء من تجهيز المتطلب
                        </option>
                        <option value="غير متوفر لدى الجهة">
                            غير متوفر لدى الجهة
                        </option>
                        <option value=" لا ينطبق على الجهة"> لا ينطبق على الجهة</option>
                        <option value=" جاري العمل على تجهيز المتطلب"> جاري العمل على تجهيز المتطلب</option>
                    </select>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name=" الشخص المعني" [minWidth]="130" prop="prerequisite_send_to">
            </ngx-datatable-column>
            <ngx-datatable-column name="البريد الإلكتروني" [minWidth]="130" prop="prerequisite_email">
            </ngx-datatable-column>
            <ngx-datatable-column name="الهاتف" [minWidth]="130" prop="prerequisite_phone_no">
            </ngx-datatable-column>
            <ngx-datatable-column name="الملاحظات" [minWidth]="130" prop="prerequisite_notes">
            </ngx-datatable-column>
        </ngx-datatable>
    </section>
</div>