<div class="error-text" *ngIf=" control && control.touched && control.errors">
    <div  *ngIf="control.errors.required">*مطلوب</div>
    <div  *ngIf="control.errors.email">
        *بريد إلكتروني غير صالح
    </div>

    <div  *ngIf="control.errors.minDate">
        *تاريخ غير مقبول
    </div>
    <div  *ngIf="control.errors.minlength">
        * {{control.errors.minlength.requiredLength}} ارقام على الاقل
    </div>
    <div *ngIf="control.errors.unmatchedPasswords">
        *كلمات السر غير متطابقة
    </div> 
    <div *ngIf="control.errors.fileExt">
        * صور و pdf فقط
    </div> 
    <div *ngIf="control.errors.fileSize">
        * حجم الملف أكبر من 1MB
    </div> 
    <div *ngIf="control.errors.pattern?.requiredPattern == numericalRegex">
        * أرقام فقط
    </div>
</div>