@import '~@swimlane/ngx-datatable/index.css';
@import "~@swimlane/ngx-datatable/themes/bootstrap.css";
@import '~@swimlane/ngx-datatable/assets/icons.css';
:root {
    --main-theme-color: #05bda0;
}
body {
    margin: 0;
    font-family: sans-serif;
    direction: rtl;
}
.form-control {
    direction: rtl;
}
label {
    margin-bottom: 5px;
}
.btn-primary {
    background-color: var(--main-theme-color);
    border: 0;
}
.page-item.active .page-link {
    background-color: var(--main-theme-color);
    border-color: var(--main-theme-color);
}
.pagination {
    justify-content: center;
}
.loader {
    color: var(--main-theme-color);
    font-size: 65px;
}
/* datatables styles */
.datatable-body-cell-label, .datatable-header-cell-template-wrap {
    text-align: center;
    overflow: auto;
}
.datatable-body-cell-label {
    white-space: normal;
}
.ngx-datatable.bootstrap .datatable-footer {
    background: unset;
    color: unset;
}
.ngx-datatable.bootstrap .datatable-footer .datatable-pager a {
    color: unset;
}
.ngx-datatable.bootstrap .datatable-footer .datatable-pager li:not(.pages) a {
    display: none;
}
.ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled).active a,
.ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled):hover a {
    color: #ededed;
}
/* special styles for tasks table */
.task-info {
    background-color: rgba(102, 119, 137, 0.7);
}
.employee-cols {
    background-color: rgba(114, 139, 164, 0.7);
}
.manager-cols {
    background-color: rgba(130, 171, 212, 0.7);
}
.ext-aud-cols {
    background-color: rgba(179, 212, 246, 0.7);
}
.int-aud-cols {
    background-color: rgba(238, 238, 238, 0.7);
}
.attachment-icon {
    width: 25px;
    cursor: pointer;
}
/* nav tabs */
.nav-tabs .nav-item .nav-link {
    max-width: 200px;
    font-weight: 700;
    font-size: 12px;
}